.images-container{
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-description{
  max-width: 100%;
}

.modal-img{
  max-width: 100%;
  height: auto;
  justify-content: center;
}

.modal-container{
  width: 100%;
  padding: 100px;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-div{
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.modal-img-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-body{
  height: 100% !important;
}

.searchresults-container{
  min-height: 100vh;
}

.search-card{
  width: 350 !important;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column ;
  align-items: center;
}

.search-cardcontent{
  width: 100%;
  justify-content: center;
  margin: 0px !important;
  padding: 10px 15px 5px 15px !important;
  display: flex;
  align-items: flex-end;
}

.search-button{
  height: 40px;
  margin-bottom: 5px !important;
  padding: 15px !important;
  /* border:  2px solid black !important; */
}